<div layout="row">
    <div flex></div>
    <div flex-gt-sm="70" flex="90">
        <md-subheader class="md-no-sticky"><a href="/forum" class="md-accent">Forum</a></md-subheader>
        <div layout-gt-sm="row" layout="column">
            <div flex-gt-sm="75" flex="100" layout="column">
                <md-card>
                    <md-toolbar class="md-toolbar-tools">
                        <h3>All Categories</h3>
                    </md-toolbar>
                    <section layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex ng-if="!gotCategories">
                        <md-progress-circular class="md-accent"></md-progress-circular>
                    </section>
                    <section ng-repeat="category in categories | orderBy: 'createdAt'">
                        <md-subheader class="no-bg-col md-no-sticky"><a ng-href="{{category.path}}" class="md-accent md-hue-1">{{category.title}}</a></md-subheader>
                        <md-list>
                            <md-list-item ng-hide="category.posts[0]" ng-if="user.permissions.forum.createPosts || !user" layout-padding>
                                <div class="md-list-item-text" flex>
                                    <p>Looks like no one else has posted in this category yet. Why not start things off?</p>
                                    <md-button class="md-raised md-primary" ng-click="newPost.category = category; newPostDialog()" ng-disabled="!user">
                                        <span ng-show="user">New Post</span>
                                        <span ng-hide="user">Sign in to Post</span>
                                    </md-button>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-repeat="post in category.posts" ng-click="$location.path(category.path + '/' + post._id)">
                                <img ng-src="{{post.authour.avatar}}" class="md-avatar" alt="">
                                <div class="md-list-item-text">
                                    <h3 flex="90">{{post.title}}</h3>
                                    <div layout="row">
                                        <p flex>By {{post.authour.name}} <span am-time-ago="post.createdAt"></span></p>
                                        <md-icon class="icon-left-of-text-far" ng-if="post.locked">lock</md-icon>
                                        <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                                        <span class="md-subhead">
                                            <span ng-show="post.comments[0]">{{post.comments.length}}</span>
                                            <span ng-hide="post.comments[0]">0</span>
                                        </span>
                                    </div>
                                </div>
                                <md-divider md-inset></md-divider>
                            </md-list-item>
                            <div layout="row" ng-show="categoryPosts[$index].posts.length > 6">
                                <div flex></div>
                                <md-button ng-href="{{category.path}}" class="md-accent">More discussions</md-button>
                            </div>
                        </md-list>
                    </section>
                </md-card>
            </div>
            <div flex-gt-sm="25" flex="100" layout="column">
                <md-button hide show-gt-sm class="md-raised md-primary" style="margin-top: 8px" ng-if="user.permissions.forum.createPosts || !user" ng-click="newPostDialog()" ng-disabled="!user">
                    <span ng-show="user">New Post</span>
                    <span ng-hide="user">Sign in to Post</span>
                </md-button>

                <div layout="column" ng-if="user.permissions.forum.createCategories || user.permissions.forum.updateCategories || user.permissions.forum.deleteCategories">
                    <md-subheader class="md-no-sticky">Category Options</md-subheader>
                    <md-button class="md-raised md-primary" ng-if="user.permissions.forum.createCategories" ng-click="newCategoryDialog()">New Category</md-button>
                    <md-button class="md-raised md-primary" ng-if="user.permissions.forum.updateCategories || user.permissions.forum.deleteCategories"
                               ng-click="editCategoryDialog()">Edit Category</md-button>
                </div>

                <md-subheader class="md-no-sticky">Categories</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotCategoryPosts">
                            <md-progress-circular class="md-accent"></md-progress-circular>
                        </md-list-item>
                        <md-list-item ng-repeat="category in categoryPosts" ng-click="$location.path(category.path)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{category.title}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'green-500'}">message</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="category.posts[0]">{{category.posts.length}}</span>
                                        <span ng-hide="category.posts[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>

                <md-subheader class="md-no-sticky">Recent Discussions</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotRecentPosts">
                            <md-progress-circular class="md-accent"></md-progress-circular>
                        </md-list-item>
                        <md-list-item ng-repeat="recentPost in recentPosts" ng-click="$location.path(recentPost.category.path + '/' + recentPost._id)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{recentPost.title | limitTo: 22}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="recentPost.comments[0]">{{recentPost.comments.length}}</span>
                                        <span ng-hide="recentPost.comments[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
        </div>
    </div>
    <div flex></div>
</div>

<md-button class="md-fab md-fab-bottom-right md-primary" layout="column" layout-align="center center" hide-gt-sm
           ng-show="user" ng-click="newPostDialog()">
    <md-icon>add</md-icon>
</md-button>

<!-- Create Post Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="createPost">
        <md-dialog aria-label="Create Post" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span>Create Post</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form name="createPostForm">
                    <md-input-container>
                        <label>Category</label>
                        <md-select name="category" ng-model="newPost.category" md-auto-focus="newPost.category === ''" required md-no-asterisk>
                            <md-option ng-repeat="category in categories" ng-value="category">
                                {{category.title}}
                            </md-option>
                        </md-select>
                        <div ng-messages="createPostForm.category.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input name="title" ng-model="newPost.title" md-auto-focus="newPost.category !== ''" md-maxlength="50" required md-no-asterisk>
                        <div ng-messages="createPostForm.title.$error">
                            <div ng-message="md-maxlength">This must be 50 characters long or less.</div>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea name="content" ng-model="newPost.content" md-maxlength="10000" required md-no-asterisk></textarea>
                        <div ng-messages="createPostForm.content.$error">
                            <div ng-message="md-maxlength">This must be 10,000 characters long or less.</div>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
                <formatting-help ng-show="showFormattingHelp"></formatting-help>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="toggleFormattingHelp()">Formatting
                    <md-icon ng-hide="showFormattingHelp">arrow_drop_down</md-icon>
                    <md-icon ng-show="showFormattingHelp">arrow_drop_up</md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="createPost()" ng-disabled="!newPost.category || !newPost.title || !newPost.content">Create</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Create Category Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="createCategory">
        <md-dialog aria-label="Create Category" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span>Create Category</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form name="createCategoryForm">
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input name="title" ng-model="newCategory" md-autofocus md-maxlength="50" required md-no-asterisk>
                        <div ng-messages="createCategoryForm.title.$error">
                            <div ng-message="md-maxlength">This must be 50 characters long or less.</div>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="createCategory()" ng-disabled="!newCategory">Create</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Edit Category Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="editCategory">
        <md-dialog aria-label="Edit Category" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span>Edit Category</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form name="editCategoryForm">
                    <md-input-container>
                        <label>Category</label>
                        <md-select name="category" ng-model="editingCategory" md-auto-focus required md-no-asterisk>
                            <md-option ng-repeat="category in categories" ng-value="category">
                                {{category.title}}
                            </md-option>
                        </md-select>
                        <div ng-messages="editCategoryForm.category.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input name="title" ng-model="editingCategory.title" ng-disabled="!editingCategory" md-maxlength="50" required md-no-asterisk>
                        <div ng-messages="editCategoryForm.title.$error">
                            <div ng-message="md-maxlength">This must be 50 characters long or less.</div>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-icon-button md-primary" ng-if="user.permissions.forum.deleteCategories" ng-click="confirmDeleteCategory()" ng-disabled="!editingCategory">
                    <md-icon>delete</md-icon>
                    <md-tooltip>Delete category</md-tooltip>
                </md-button>
                <div flex></div>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="updateCategory()"
                           ng-disabled="!editingCategory || !editingCategory.title || !user.permissions.forum.updateCategories">Update</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete Category Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteCategory">
        <md-dialog aria-label="Delete Category">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete {{editingCategory.category.title}} forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deleteCategory()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>