<div layout="column">
    <md-toolbar class="md-tall md-toolbar-tools" layout="row" layout-align="center end" flex="33" style="padding: 0;">
        <div flex-gt-sm="20"></div>
        <div flex-gt-sm="60"></div>
        <div layout="row" layout-align="center end" flex="20">
            <md-button class="md-fab fab-down-half" layout="column" layout-align="center center" hide show-gt-sm
                       ng-show="user" ng-click="newCategoryDialog()">
                <md-icon>add</md-icon>
                <md-tooltip>New category</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div flex="66" layout="row">
        <div flex></div>
        <md-card class="move-up" flex-gt-sm="60" flex="90">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Forum Categories</span>
                    <span class="md-subhead">Find a category that best suits your interests</span>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-icon-button md-accent" ng-show="user" ng-click="editCategoryDialog()">
                        <md-icon>edit</md-icon>
                        <md-tooltip>Edit a category</md-tooltip>
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-content ng-hide="gotCategories" layout="row" layout-align="center center" flex>
                <md-progress-circular class="md-accent"></md-progress-circular>
            </md-card-content>
            <md-list>
                <md-list-item class="md-3-line" ng-click="goToCategory(category.path)" ng-repeat="category in categories">
                    <div layout="row" layout-align="center center" layout-fill layout-margin>
                        <md-icon class="md-avatar material-icons md-36" flex="9">{{category.icon}}</md-icon>
                        <div flex="1"></div>
                        <div class="md-list-item-text" flex="90" hide show-gt-sm>
                            <h3>{{category.title}}</h3>
                            <h4>{{category.description}}</h4>
                            <p>{{category.posts.length}} posts</p>
                        </div>
                        <div class="md-list-item-text" flex="90" layout-padding hide-gt-sm>
                            <h3>{{category.title}}</h3>
                            <h4>{{category.description}}</h4>
                            <p>{{category.posts.length}} posts</p>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
        <div flex></div>
    </div>

    <md-button class="md-fab md-fab-bottom-right" layout="column" layout-align="center center" hide-gt-sm
               ng-show="user" ng-click="newCategoryDialog()">
        <md-icon>add</md-icon>
    </md-button>

    <!-- Create Category Dialog -->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="createCategory">
            <md-dialog aria-label="Create Category" flex-gt-sm="50" flex>
                <md-toolbar class="md-toolbar-tools">
                    <span>Create Category</span>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content">
                    <form>
                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-model="newCategory.title" md-autofocus>
                        </md-input-container>
                        <p>Icons can be found <a href="https://design.google.com/icons/" target="_blank" class="md-accent">here</a>. Make sure you type it in all lower case and instead of a space, put an underscore.</p>
                        <md-input-container>
                            <label>Icon</label>
                            <input ng-model="newCategory.icon">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="newCategory.description"></textarea>
                        </md-input-container>
                    </form>
                </md-dialog-content>
                <md-dialog-actions>
                    <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="createCategory()">Create</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>

    <!-- Edit Category Dialog -->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="editCategory">
            <md-dialog aria-label="Edit Category" flex-gt-sm="50" flex>
                <md-toolbar class="md-toolbar-tools">
                    <span>Edit Category</span>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content">
                    <form>
                        <md-input-container>
                            <label>Category</label>
                            <md-select ng-model="editingCategory" md-auto-focus>
                                <md-option ng-repeat="category in categories" ng-value="category">
                                    {{category.title}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-model="editingCategory.title" ng-disabled="editingCategory === null">
                        </md-input-container>
                        <p>Icons can be found <a href="https://design.google.com/icons/" target="_blank" class="md-accent">here</a>. Make sure you type it in all lower case and instead of a space, put an underscore.</p>
                        <md-input-container>
                            <label>Icon</label>
                            <input ng-model="editingCategory.icon" ng-disabled="editingCategory === null">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="editingCategory.description" ng-disabled="editingCategory === null"></textarea>
                        </md-input-container>
                    </form>
                </md-dialog-content>
                <md-dialog-actions>
                    <md-button class="md-icon-button md-primary" ng-click="confirmDelete()" ng-disabled="editingCategory === null">
                        <md-icon>delete</md-icon>
                        <md-tooltip>Delete category</md-tooltip>
                    </md-button>
                    <div flex></div>
                    <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="updateCategory()">Update</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>

    <!-- Delete Category Dialog Confirm -->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="deleteCategory">
            <md-dialog aria-label="Delete Category">
                <md-dialog-content class="md-dialog-content">
                    <p class="md-headline">Delete {{editingCategory.title}} forever?</p>
                    <p class="md-subhead">You won't be able to undo this!</p>
                </md-dialog-content>
                <md-dialog-actions>
                    <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="deleteCategory()">Delete</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>
</div>