<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5 class="white-text">Dinner Time Premium</h5>
                <p class="grey-text text-lighten-4">We hope you enjoy your time on DTP! Feel free to message a staff member if you need anything.</p>
            </div>
            <div class="col s4 offset-s2">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Steam</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Donate</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>