<header>
    <ul id="slide-out" class="side-nav fixed">
        <li><a href="/" class="logo"><img src="../img/logo.svg" alt="DTP"></a></li>
        <li><br></li> <!-- Spacing from the logo -->
        <% if(!user) { %>
        <li>
            <a href="/auth/steam" style="padding-top: 12px;">
                <img src="../../img/steam.png" alt="Sign in through Steam">
            </a>
        </li>
        <% } else { %>
        <li>
            <a href="/">
                <div class="row valign-wrapper">
                    <img src="<%= user.avatar %>" alt="<%= user.avatar %>"
                         class="col s4 circle responsive-img">
                    <span class="col s8"><%= user.name %></span>
                </div>
            </a>
        </li>
        <li>
            <a href="/">
                <div class="row valign-wrapper">
                    <i class="material-icons col s3">settings</i>
                    <span class="col s8">Settings</span>
                </div>
            </a>
        </li>
        <li>
            <a href="/logout">
                <div class="row valign-wrapper">
                    <i class="material-icons col s3">power_settings_new</i>
                    <span class="col s8">Logout</span>
                </div>
            </a>
        </li>
        <% } %>

        <li>

            <hr>
        </li>

        <li>
            <a href="http://steamcommunity.com/groups/dtpremium#announcements">
                <div class="row valign-wrapper">

                    <i class="material-icons col s3">announcement</i>
                    <span class="col s8">News</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://dtpremium.site.nfoservers.com/donate/">
                <div class="row valign-wrapper">

                    <i class="material-icons col s3">attach_money</i>
                    <span class="col s8">Donate</span>
                </div>
            </a>
        </li>

        <% if(typeof active !== 'undefined' && active == 'forum') { %>
        <li class="active">
            <a href="/forum" class="red-text">
        <% } else { %>
        <li>
            <a href="/forum">
        <% } %>
                <div class="row valign-wrapper">
                    <i class="material-icons col s3">forum</i>
                    <span class="col s8">Forum</span>
                </div>
            </a>
        </li>
        <% if(typeof active !== 'undefined' && active == 'rules') { %>
        <li class="active">
            <a href="/rules" class="red-text">
        <% } else { %>
        <li>
            <a href="/rules">
        <% } %>
                <div class="row valign-wrapper">

                    <i class="material-icons col s3">assignment</i>
                    <span class="col s8">Server Rules</span>
                </div>
            </a>
        </li>
    </ul>
    <nav class="red hide-on-large-only">
        <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>