<div class="container section">
    <div class="card">
        <div class="card-content" style="max-height: 100%; border-radius: 0">
            <div class="row">
                <img ng-src="{{userProfile.avatarFull}}" alt="" class="col s3 l2 circle responsive-img"
                     ng-class="{'offline-pic': !userProfile.isOnline, 'online-pic': userProfile.isOnline}">

                <h4 class="col s7 l8" style="word-wrap: break-word;">{{userProfile.name}}</h4>

                <p class="col s2 center chip red-text">GOD</p>

                <div class="col s9">
                    <p ng-class="{'offline-text': !userProfile.isOnline, 'online-text': userProfile.isOnline}" style="padding-left: 1px">
                        {{onlineStatus}}
                    </p>
                </div>
            </div>
            <pre>Status: </pre>
            <div class="divider"></div>
            <br>
            <div class="row" ng-hide="editing">
                <div class="col s12 m12 l6">
                    <p>Name: {{userProfile.realName}}</p>
                    <br>
                    <p>Age: {{userProfile.age}}</p>
                    <br>
                    <p>Birthday: {{userProfile.birthday | date: 'longDate'}}</p>
                    <br>
                    <p>Location: {{userProfile.location}}</p>
                    <br>
                    <p>Occupation: {{userProfile.occupation}}</p>
                    <br>
                </div>
                <div class="col s12 m12 l6">
                    <pre style="margin: 0">About me: {{userProfile.bio}}</pre>
                </div>
            </div>

            <div class="row" ng-show="editing">
                <form id="profile-form">
                    <div class="col s12 m12 l6">
                        <div class="input-field col s12">
                            <input id="name" type="text" ng-model="userProfile.realName">
                            <label for="name">Name</label>
                        </div>
                        <br>
                        <div class="input-field col s12">
                            <input id="age" type="text" ng-model="userProfile.age" ng-disabled="userProfile.birthday">
                            <label for="age">Age</label>
                        </div>
                        <br>
                        <div class="input-field col s12">
                            <input id="birthday" type="text" class="datepicker" ng-model="userProfile.birthday">
                            <label for="birthday">Birthday</label>
                        </div>
                        <br>
                        <div class="input-field col s12">
                            <input id="location" type="text" ng-model="userProfile.location">
                            <label for="location">Location</label>
                        </div>
                        <br>
                        <div class="input-field col s12">
                            <input id="occupation" type="text" ng-model="userProfile.occupation">
                            <label for="occupation">Occupation</label>
                        </div>
                        <br>
                    </div>
                    <div class="col s12 m12 l6">
                        <div class="input-field col s12">
                            <textarea id="bio" class="materialize-textarea" ng-model="userProfile.bio"></textarea>
                            <label for="bio">About me</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-action">
            <a ng-href="{{userProfile.profileUrl}}" class="btn red">Steam Profile</a>
            <a href="" class="red-text right" ng-click="editProfile()" ng-show="user._id === userProfile._id" ng-hide="editing" style="margin: 0;">
                <i class="material-icons tooltipped waves-effect right" data-position="bottom" data-tooltip="Edit profile">mode_edit</i>
            </a>
            <a href="" class="btn red right" ng-click="saveProfile()" ng-show="editing">Save</a>
            <a href="" class="btn-flat red-text right" ng-click="editing = false" ng-show="editing">Cancel</a>
        </div>
    </div>
</div>