<page-not-found ng-if="gotUser && !userProfile"></page-not-found>
<div layout="column" ng-if="gotUser && userProfile">
    <div style="background: url({{userProfile.backgroundImg || wallpaper}});
    background-size: cover; background-repeat: no-repeat; background-position: center center; height: 400px; width: 100%;"></div>
    <div layout="row" layout-align="center center">
        <img ng-src="{{userProfile.avatarFull}}" alt="" class="md-avatar circle" style="margin-top: -92px;">
    </div>
    <div layout="row">
        <div flex></div>
        <div layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <p style="margin: 16px 0;" class="md-display-1 wrap-title" layout-padding>{{userProfile.name}}
                    <div>
                        <md-icon md-colors="{color: 'green-500'}" ng-if="userProfile.onlineStatus === 'Online'">check_circle</md-icon>
                        <md-icon md-colors="{color: 'yellow-500'}" ng-if="userProfile.onlineStatus === 'Away'">access_time</md-icon>
                        <md-icon md-colors="{color: 'red-A700'}"  ng-if="userProfile.onlineStatus === 'Busy'">do_not_disturb_on</md-icon>
                        <md-icon md-colors="{color: 'grey-A700'}"  ng-if="userProfile.onlineStatus === 'Offline'">offline_pin</md-icon>
                        <md-tooltip>{{userProfile.onlineStatus}}</md-tooltip>
                    </div>
                </p>
            </div>
            <span class="md-headline" ng-class="{goddess: userProfile.rank === 'GODDESS', seraph: userProfile.rank === 'Seraph',
                            lord: userProfile.rank === 'Lord', admin: userProfile.rank === 'Admin', moderator: userProfile.rank === 'Moderator',
                            aristocrat: userProfile.rank === 'Aristocrat', vip: userProfile.rank === 'VIP',
                            donator: userProfile.rank === 'Donator', user: userProfile.rank === 'User'}">{{userProfile.rank}}</span>
        </div>
        <div flex></div>
    </div>
    <br>
    <div id="double-card-div" layout-gt-sm="row" layout-align="center stretch" layout="column">
        <md-card flex-gt-sm="30" flex="100">
            <md-card-header layout="row">
                <md-card-header-text>
                    <span class="md-headline">About</span>
                </md-card-header-text>
                <span flex></span>
                <md-button class="md-icon-button" ng-if="userProfile._id === user._id && !editingAbout" ng-click="editingAboutToggle()"><md-icon>edit</md-icon></md-button>
            </md-card-header>
            <md-card-content flex ng-if="!editingAbout">
                <md-button style="margin: 0;" ng-href="{{userProfile.profileUrl}}" target="_blank">Steam Profile</md-button>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Joined: </span>{{userProfile.createdAt | date: 'medium'}}</p>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Name: </span>{{userProfile.realName}}</p>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Gender: </span>{{userProfile.gender}}</p>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Age: </span>{{userProfile.age}}</p>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Birthday: </span>{{userProfile.birthday | date: 'longDate'}}</p>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Location: </span>{{userProfile.location}}</p>
                <p class="md-subhead wrap-content"><span md-colors="{color: 'grey-500'}">Occupation: </span>{{userProfile.occupation}}</p>
            </md-card-content>
            <md-card-content flex ng-if="editingAbout">
                <form name="profileAbout">
                    <p class="md-subhead wrap-content">Joined: {{userProfile.createdAt | date: 'medium'}}</p>
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input name="realName" ng-model="about.realName" md-maxlength="50">
                        <div ng-messages="profileAbout.realName.$error">
                            <div ng-message="md-maxlength">This must be 50 characters long or less.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Gender</label>
                        <input name="gender" ng-model="about.gender" md-maxlength="20">
                        <div ng-messages="profileAbout.gender.$error">
                            <div ng-message="md-maxlength">This must be 20 characters long or less.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Age</label>
                        <md-select ng-model="about.age">
                            <md-option> </md-option>
                            <md-option ng-repeat="n in [].constructor(100) track by $index" ng-value="$index + 1">{{$index + 1}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Birthday</label>
                        <br><br>
                        <md-radio-group layout="row" ng-model="about.setBday">
                            <md-radio-button value="true" class="md-primary">Set birthday</md-radio-button>
                            <md-radio-button value="false" class="md-primary">Don't set birthday</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                    <br>
                    <md-calendar ng-model="about.birthday" ng-if="about.setBday === 'true'"></md-calendar>
                    <md-input-container class="md-block">
                        <label>Location</label>
                        <input name="location" ng-model="about.location" md-maxlength="100">
                        <div ng-messages="profileAbout.location.$error">
                            <div ng-message="md-maxlength">This must be 100 characters long or less.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Occupation</label>
                        <input name="occupation" ng-model="about.occupation" md-maxlength="100">
                        <div ng-messages="profileAbout.occupation.$error">
                            <div ng-message="md-maxlength">This must be 100 characters long or less.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Background Image</label>
                        <input name="backgroundImg" ng-model="about.backgroundImg" md-maxlength="1000">
                        <div class="hint">Link to image</div>
                        <div ng-messages="profileAbout.backgroundImg.$error">
                            <div ng-message="md-maxlength">This must be 1,000 characters long or less.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="row" ng-if="editingAbout">
                <span flex></span>
                <md-button class="md-primary" ng-click="editingAboutToggle()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="saveProfile(about)">Save</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex-gt-sm="50" flex="100">
            <md-card-header layout="row">
                <md-card-header-text>
                    <span class="md-headline">Summary</span>
                </md-card-header-text>
                <span flex></span>
                <md-button class="md-icon-button" ng-if="userProfile._id === user._id && !editingBio" ng-click="editingBioToggle()"><md-icon>edit</md-icon></md-button>
            </md-card-header>
            <md-card-content flex ng-if="!editingBio">
                <p class="md-subhead wrap-content">{{userProfile.bio || 'No information given'}}</p>
            </md-card-content>
            <md-card-content flex ng-if="editingBio">
                <form name="profileBio">
                    <md-input-container class="md-block">
                        <label>Summary</label>
                        <textarea name="bio" ng-model="bio.bio" md-maxlength="1000"></textarea>
                        <div ng-messages="profileBio.bio.$error">
                            <div ng-message="md-maxlength">This must be 1000 characters long or less.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions layout="row" ng-if="editingBio">
                <span flex></span>
                <md-button class="md-primary" ng-click="editingBioToggle()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="saveProfile(bio)">Save</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- Permissions -->
    <div layout="row" layout-align="center center" ng-if="user.roles.includes('Staff')">
        <md-card flex-gt-sm="80" flex="100">
            <md-card-header layout="row">
                <md-card-header-text>
                    <span class="md-headline">Permissions</span>
                </md-card-header-text>
                <span flex></span>
                <md-button class="md-icon-button" ng-if="user.roles.includes('Super Admin') && !editingPermissions && permissionsOpen"
                           ng-click="editingPermissionsToggle()"><md-icon>edit</md-icon></md-button>
            </md-card-header>
            <md-card-content ng-if="permissionsOpen">
                <md-list>
                    <md-list-item layout="row">
                        <md-input-container>
                            <label>Rank</label>
                            <md-select class="md-primary" ng-model="permissions.rank" ng-disabled="!editingPermissions">
                                <md-option ng-repeat="rank in ranks" ng-value="rank">
                                    {{rank}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container style="margin-left: 8px;" layout="row" layout-align="center center" ng-if="permissions.rank !== userProfile.rank">
                            <md-checkbox class="md-primary" ng-model="setDefault.permissions">Set Default Permissions</md-checkbox>
                        </md-input-container>
                    </md-list-item>
                    <md-divider></md-divider>
                    <div ng-repeat="(permissionGroup, permissions) in userProfile.permissions">
                        <md-subheader class="md-no-sticky md-primary" style="background: transparent"><span class="md-title">{{permissionGroup}}</span></md-subheader>
                        <md-list-item ng-repeat="(permission, value) in permissions">
                            <p>{{permission}}</p>
                            <md-switch class="md-primary md-secondary" ng-model="permissions[permission]" ng-disabled="!editingPermissions"></md-switch>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-card-content>
            <md-card-actions layout="row">
                <md-button class="md-primary" ng-click="togglePermissions()" ng-hide="editingPermissions">
                    <span ng-hide="permissionsOpen">Show Permissions <md-icon>arrow_drop_down</md-icon></span>
                    <span ng-show="permissionsOpen">Hide Permissions <md-icon>arrow_drop_up</md-icon></span>
                </md-button>
                <span flex></span>
                <div ng-if="editingPermissions">
                    <md-button class="md-primary" ng-click="editingPermissionsToggle()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="savePermissions()">Save</md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</div>
