<div layout="column">
    <md-toolbar class="md-tall" flex="33"></md-toolbar>
    <div flex="66" layout="row">
        <div flex></div>
        <md-card class="move-up" flex="80">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Forum Categories</span>
                    <span class="md-subhead">Find a category that best suits your interests</span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-list>
                <md-list-item class="md-clickable hover" md-ink-ripple ng-click="goToCategory()">
                    <md-icon class="md-avatar">weekend</md-icon>
                    <div class="md-list-item-text">
                        <h3>General</h3>
                        <p>Chat about anything you like. Leave a question, comment or just show off something cool!</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
        <div flex></div>
    </div>

    <div layout="row">
        <div flex="80"></div>
        <md-button class="md-fab md-fab-bottom-left" layout="column" layout-align="center center" ng-click="newPostDialog()">
            <md-icon>add</md-icon>
        </md-button>
        <div flex></div>
    </div>
</div>
