<!DOCTYPE html>
<html lang="en">
<head>
    <title>DTP</title>
    <% include ../partials/head.ejs %>
</head>
<body class="grey lighten-4">

<% include ../partials/nav.ejs %>

<main>
    <div class="container">
        <h1>Forum page is under construction</h1>
    </div>
</main>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>
</body>
</html>