<!DOCTYPE html>
<html lang="en">
<head>
    <title>DTP - Forum</title>
    <% include ../partials/head.ejs %>
</head>
<body class="grey lighten-4">

<% include ../partials/nav.ejs %>

<main>
    <div class="container">
        <h1>Discussions</h1>
        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>



    </div>
</main>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
</body>
</html>