/* Side nav */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 254px !important;
    width: 254px !important;
    max-width: 304px !important;
}

/* Arrow button to show online users when closed */


/* Side nav lists */
md-sidenav md-list {
    padding: 0;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-sidenav md-list-item > button {
    margin: 0 !important;
    border-radius: 0 !important;
}

/* Font alignment */
.left-align-text {
    text-align: left;
}

.right-align-text {
    text-align: right;
}

/* Icon font sizes */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

/* Avatar image */
.avatar-simple {
    border-radius: 50%;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}