/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Offset content for side nav */
header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* Dirty side nav overlay fix */
#sidenav-overlay {
    background:none;
}

#showPageAuthourName {
    margin-right: 5px;
}

/* Link styles */
.text-link:hover {
    text-decoration: underline;
}

/* Lighten the hr colour */
hr {
    border: solid 1px #E0E0E0;
}

/* Wrap text in pre tag */
pre {
    font-family: Roboto, Helvetica, sans-serif;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


/* Text highlight */
::-moz-selection {
    background: #C62828;
}

::selection {
    background: #C62828;
}

/* Error handler classes */
.toast-success {
    color: #4CAF50;
}
.toast-info {
    color: #2196F3;
}
.toast-warning {
    color: #FF9800;
}
.toast-error {
    color: #F44336;
}

/* Side nav hover logo fix */
.side-nav.fixed a.logo:hover {
    background-color: transparent;
}

/* Input fields */

/* label color */
.input-field label {
    color: #9E9E9E;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #F44336;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #B71C1C;
    box-shadow: 0 1px 0 0 #B71C1C;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #F44336;
}

/* Textarea fields */
/* Some of these are covered by input fields ^ */

/* label focus color */
.input-field textarea.materialize-textarea:focus + label {
    color: #F44336;
}
/* label underline focus color */
.input-field textarea.materialize-textarea:focus {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
/* valid color */
.input-field textarea.materialize-textarea.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #B71C1C;
    box-shadow: 0 1px 0 0 #B71C1C;
}

/* Collections */
#forum-collection li.collection-header button {
    margin: -0.519rem 0 0.912rem 0;
}

.collection.with-header .collection-item.avatar {
    padding: 0;
}

.collection.with-header .collection-item.avatar a {
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding: 10px 20px 10px 72px;
    display: block;
    width: 100%;
    height: 100%;
}

.collection.with-header .collection-item.avatar a:hover {
    background-color: #E0E0E0;
    transition: .25ms;
}