/* Side nav */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 254px !important;
    width: 254px !important;
    max-width: 304px !important;
}

/* Lists */
md-list {
    padding: 0;
}

.list-btn-no-radius {
    border-radius: 0 !important;
}

md-list-item.hover:hover {
    background-color: rgba(158, 158, 158, 0.2);
    transition: 0.4s;
}

/* Side nav lists */
md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-sidenav md-list-item > button {
    margin: 0 !important;
    border-radius: 0 !important;
}

/* Toast Position */
/* So it doesn't cover the user options/sign in through steam button */
md-toast.md-top{
    top: 5%;
}

/* Toast Themes */
md-toast.md-success-toast-theme .md-toast-content {
color: #4CAF50;
}

md-toast.md-error-toast-theme .md-toast-content {
color: #F44336;
}

/* Pre font */
pre {
font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Links */
a {
    color: #F44336;
    text-decoration: none;
}

/* Active navigation */
.active {
    background-color: #616161;
}

/* Fixed FAB buttons for staying put while scrolling */
.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 51;
}

.md-subheader.no-bg-col {
    background-color: inherit;
}

/* Move FAB half its size */
.fab-up-half {
    bottom: 28px;
}
.fab-down-half {
    top: 28px;
}
.fab-right-half {
    left: 28px;
}

/* MdButton in menu list styles (For update status button) */
.md-list-button-style {
    border-radius: 0;
    margin: auto 0;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 100%;
}

/* Same as above but for the icon */
.md-list-icon-style{
    margin: auto 16px auto 0;
}

/* Font alignment */
.left-align-text {
    text-align: left;
}

.center-align-text {
    text-align: center;
}

.right-align-text {
    text-align: right;
}

/* Multi-line text */
.three-line {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* ancient Opera */
    white-space: -o-pre-wrap; /* newer Opera */
    white-space: pre-wrap; /* Chrome; W3C standard */
    word-wrap: break-word; /* IE */
    /*width: 100%;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 3;*/
}

/* Icon font sizes */
.material-icons.md-18 {
    font-size: 18px;
    min-height: 18px !important;
    min-width: 18px !important;
    height: 18px !important;
    width: 18px !important;
}
.material-icons.md-24 {
    font-size: 24px;
    min-height: 24px !important;
    min-width: 24px !important;
    height: 24px !important;
    width: 24px !important;
}
.material-icons.md-36 {
    font-size: 36px;
    min-height: 36px !important;
    min-width: 36px !important;
    height: 36px !important;
    width: 36px !important;
}
.material-icons.md-48 {
    font-size: 48px;
    min-height: 48px !important;
    min-width: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.material-icons.md-96 {
    font-size: 96px;
    min-height: 96px !important;
    min-width: 96px !important;
    height: 96px !important;
    width: 96px !important;
}

/* Truncate text */
.truncate {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Avatar image */
.circle {
    border-radius: 50%;
}

/* Status colours */
.status-online {
    color: #4CAF50 !important;
}

.status-away {
    color: #FFEB3B !important;
}

.status-busy {
    color: #F44336 !important;
}

.status-offline {
    color: #9E9E9E !important;
}

/* Mod application status colours */
.mod-app-under-review {
    color: #FFEB3B !important;
}
md-progress-linear.mod-app-under-review .md-bar {
    background-color: #FFEB3B !important;
}
md-progress-linear.mod-app-under-review .md-container {
    background-color: #FFF9C4 !important;
}

.mod-app-awaiting-votes {
    color: #FF9800 !important;
}
md-progress-linear.mod-app-awaiting-votes .md-bar {
    background-color: #FF9800 !important;
}
md-progress-linear.mod-app-awaiting-votes .md-container {
    background-color: #FFE0B2 !important;
}

.mod-app-accepted {
    color: #4CAF50 !important;
}
md-progress-linear.mod-app-accepted .md-bar {
    background-color: #4CAF50 !important;
}
md-progress-linear.mod-app-accepted .md-container {
    background-color: #C8E6C9 !important;
}

.mod-app-rejected {
    color: #F44336 !important;
}
md-progress-linear.mod-app-rejected .md-bar {
    background-color: #F44336 !important;
}
md-progress-linear.mod-app-rejected .md-container {
    background-color: #FFCDD2 !important;
}

/* Month Colours */
.january { color: #F44336 }
.february { color: #FF9800 }
.march { color: #FFEB3B }
.april { color: #4CAF50 }
.may { color: #2196F3 }
.june { color: #3F51B5 }
.july { color: #9C27B0 }
.august { color: #E91E63 }
.september { color: #FFC107 }
.october { color: #FF5722 }
.november { color: #795548 }
.december { color: #9E9E9E }

/* Word wrap */
.wrap-title{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: pre-line;
    word-break: break-all;
}

.wrap-content{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: pre-line;
    word-break: keep-all;
}

/* Disable text highlighting */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Icon to the left of text */
.icon-left-of-text {
    margin-right: 5px;
}

.icon-left-of-text-far {
    margin-right: 10px;
}

/* Big images ex. Home page */
.cover-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.big-image {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Input hints */

md-input-container .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
md-input-container .hint.ng-hide,
md-input-container .hint.ng-enter,
md-input-container .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
md-input-container .hint.ng-leave,
md-input-container .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

/* Columns */
.two-cols {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

/* For cases when there are two cards in a row, this causes margin issues which make things look off.
 This rule is to fix these cases (ex. user profile page) */
@media screen and (min-width: 960px) {
    #double-card-div {
        margin: 0 10px;
    }
}