<div layout="row">
    <div flex-gt-sm></div>
    <div layout-padding flex-gt-sm="60" flex>
        <login-prompt user="user"></login-prompt>
        <unauthorized user="user" authorized="authorized"></unauthorized>

        <div ng-if="user && authorized && gotApp">
            <h1 class="md-headline center-align-text">Status</h1>
            <md-progress-linear md-mode="determinate" value="{{appStatus}}"
                                ng-class="{'mod-app-under-review': app.status === 'Under Review',
                            'mod-app-awaiting-votes': app.status === 'Awaiting Votes', 'mod-app-accepted': app.status === 'Accepted',
            'mod-app-rejected': app.status === 'Rejected'}"></md-progress-linear>
            <h1 class="md-headline center-align-text" ng-class="{'mod-app-under-review': app.status === 'Under Review',
            'mod-app-awaiting-votes': app.status === 'Awaiting Votes', 'mod-app-accepted': app.status === 'Accepted',
            'mod-app-rejected': app.status === 'Rejected'}">{{app.status}}</h1>

            <md-card ng-if="app.closed">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-headline center-align-text">Application <span md-colors="{color: 'warn-500'}">Closed</span></span>
                        <br>
                        <span layout="row" layout-align="center center" ng-if="user.roles.includes('Owner') || user.rank === 'Seraph'">
                            <md-button md-colors="{color: 'green-500'}" ng-click="openApplication()">Re-open</md-button>
                        </span>
                    </md-card-header-text>
                </md-card-header>
            </md-card>

            <md-card ng-if="!app.closed && app.status === 'Accepted' || !app.closed && app.status === 'Rejected'">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-headline center-align-text">
                            Application <span md-colors="{color: 'green-500'}">Open</span> but has a complete status
                        </span>
                        <br>
                        <span layout="row" layout-align="center center" ng-if="user.roles.includes('Owner') || user.rank === 'Seraph'">
                            <md-button md-colors="{color: 'warn-500'}" ng-click="closeApplication()">Close</md-button>
                        </span>
                    </md-card-header-text>
                </md-card-header>
            </md-card>

            <h1 class="md-display-2">{{app.authour.name}}'s Moderator Application</h1>
            <p md-colors="{color: 'red-600'}">* Required</p>
            <br>
            <h1 class="md-headline">Name</h1>
            <p class="md-subhead" ng-hide="!app.name">{{app.name}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.name">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Gender</h1>
            <p class="md-subhead" ng-hide="!app.gender">{{app.gender}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.gender">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Age</h1>
            <p class="md-subhead" ng-hide="!app.age">{{app.age}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.age">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Location</h1>
            <p class="md-subhead" ng-hide="!app.location">{{app.location}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.location">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Occupation</h1>
            <p class="md-subhead" ng-hide="!app.occupation">{{app.occupation}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.occupation">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Time Spent Playing Garry's Mod</h1>
            <p class="md-subhead" ng-hide="!app.timePlayedGmod">{{app.timePlayedGmod}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.timePlayedGmod">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">How You Found Us</h1>
            <p class="md-subhead" ng-hide="!app.howYouFoundUs">{{app.howYouFoundUs}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.howYouFoundUs">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">ULX Experience <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.ulxExperience">{{app.ulxExperience}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.ulxExperience">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Leadership Experience <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.leadershipExperience">{{app.leadershipExperience}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.leadershipExperience">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Garry's Mod Leadership Experience <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.gmodLeadershipExperience">{{app.gmodLeadershipExperience}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.gmodLeadershipExperience">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Willing to add us on Steam <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-if="app.willingToAddUsOnSteam">Yes</p>
            <p class="md-subhead" md-colors="{color: 'warn-500'}" ng-if="!app.willingToAddUsOnSteam">No</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Why We Should Accept You <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.whyWeShouldAccept">{{app.whyWeShouldAccept}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.whyWeShouldAccept">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Additional Information</h1>
            <p class="md-subhead" ng-hide="!app.additionalInfo">{{app.additionalInfo}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.additionalInfo">No information given</p>
            <md-divider></md-divider>
            <div layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex ng-if="!gotApp">
                <md-progress-circular class="md-accent"></md-progress-circular>
            </div>

            <md-card ng-if="!app.willingToAddUsOnSteam && app.closed === false">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline center-align-text" md-colors="{color: 'warn-500'}">WARNING</span>
                        <br>
                        <span class="md-title center-align-text">{{app.authour.name}} is not willing to add us on Steam! :O
                            <br><br>
                            <md-button class="md-warn" ng-click="rejectApplication()">Reject</md-button>
                        </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>

            <!-- Review -->
            <md-subheader class="md-accent md-no-sticky">Review</md-subheader>
            <md-card>
                <md-card-title>
                    <md-card-title-text layout="column" layout-align="center center">
                        <span class="md-headline">Review Status</span>
                        <br>
                        <span class="md-headline" ng-class="{'mod-app-accepted': app.review.accepted,
                            'mod-app-rejected': app.review.accepted === false}" ng-if="app.review.accepted || app.review.accepted === false">
                            <span ng-if="app.review.accepted">Accepted</span>
                            <span ng-if="app.review.accepted === false">Rejected</span>
                        </span>
                        <span class="md-headline" md-colors="{color: 'yellow-500'}" ng-if="!app.review">Incomplete</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <div ng-if="!app.review && !app.closed">
                <p class="md-subhead center-align-text">A review of the user must be completed by a voter before voting can occur.</p>
                <p class="md-subhead center-align-text">This is to check if the user has been warned, VAC banned, etc.</p>
                <md-divider></md-divider>
            </div>

            <md-card ng-if="editingReview || !app.review && !app.closed && user.roles.includes('Owner') || !app.review.accepted && !app.closed && user.rank === 'Seraph'">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-headline center-align-text">Complete the review</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <form name="modAppReview">
                        <h1 class="md-headline">Warnings</h1>
                        <p class="md-subhead">Go to the <a href="http://dtpremium.site.nfoservers.com/phpmyadmin" target="_blank">database</a> and login with the credentials found
                            <a href="https://www.nfoservers.com/control/databases.pl?name=DTPremium&typeofserver=website" target="_blank">here</a>.
                        On the left, click the plus next to "dtpremium". Click "dtpremium_awarn", then click "awarn_warnings".
                        Above all the rows on information there is a search box that says "Filter rows" next to it, click in there and paste "{{app.authour.steamId}}"
                        without the quotes. Now just count how many rows of data that's shown up (if any) and put the amount you've counted into the selection box below.</p>
                        <md-input-container class="md-block" flex-gt-md="25">
                            <label>Warnings</label>
                            <md-select ng-model="appReview.warnings">
                                <md-option ng-repeat="n in [].constructor(101) track by $index" ng-value="$index">{{$index}}</md-option>
                            </md-select>
                        </md-input-container>

                        <h1 class="md-headline">VAC Bans</h1>
                        <p class="md-subhead">Go to <a ng-href="http://steamid.co/player.php?input={{app.authour.steamId}}" target="_blank">SteamID.co</a> and see how many VAC bans
                        {{app.authour.name}} has.</p>
                        <md-input-container class="md-block" flex-gt-md="25">
                            <label>VAC Bans</label>
                            <md-select ng-model="appReview.vacBans">
                                <md-option ng-repeat="n in [].constructor(101) track by $index" ng-value="$index">{{$index}}</md-option>
                            </md-select>
                        </md-input-container>

                        <h1 class="md-headline">Hours On DTP</h1>
                        <p class="md-subhead">Go to <a href="http://dtpremium.site.nfoservers.com/admin/index.php?page=players" target="_blank">Neutron</a>,
                        under players - all players, and search "{{app.authour.steamId}}" without the quotes. It's a good idea to double check with
                        <a ng-href="https://www.gametracker.com/server_info/dtpremium.game.nfoservers.com:27015/top_players/?query={{app.authour.name}}" target="_blank">Gametracker</a>
                        to make sure the time is correct, especially if they played before we had Neutron.</p>
                        <p class="md-subhead" md-colors="{color: 'warn-500'}">The hours must be more than 20! If not, you can still accept the review.
                        If it's more than 250 hours, just put 250...</p>
                        <md-input-container class="md-block" flex-gt-md="25">
                            <label>Hours On DTP</label>
                            <md-select ng-model="appReview.hours">
                                <md-option ng-repeat="n in [].constructor(251) track by $index" ng-value="$index">{{$index}}</md-option>
                            </md-select>
                        </md-input-container>

                        <div ng-show="appReview.warnings !== null && appReview.vacBans !== null && appReview.hours !== null">
                            <p class="md-title" md-colors="{color: 'warn-500'}" ng-if="appReview.warnings >= 3 || appReview.vacBans > 0 || appReview.hours < 20">
                                {{app.authour.name}} has failed the review, but you can still accept it and move on to the voting stage if you wish...
                            </p>

                            <div layout="row">
                                <md-button class="md-warn" ng-if="appReview.warnings >= 3 || appReview.vacBans > 0 || appReview.hours < 20" ng-click="submitReview('Rejected')">
                                    Reject
                                    <md-tooltip>Reject {{app.authour.name}}'s application and skip the voting process because they have failed the review</md-tooltip>
                                </md-button>
                                <span flex></span>
                                <md-button md-colors="{color: 'green-500'}" ng-click="submitReview('Accepted')">
                                    Accept
                                    <md-tooltip ng-if="appReview.warnings >= 3 || appReview.vacBans > 0 || appReview.hours < 20">
                                        Accept the review even though {{app.authour.name}} failed the review and move on to the voting stage
                                    </md-tooltip>
                                    <md-tooltip ng-if="appReview.warnings < 3 && appReview.vacBans <= 0 && appReview.hours >= 20">
                                        Accept this review
                                    </md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>

            <md-card ng-if="!editingReview && app.review.accepted || !editingReview && app.review.accepted === false">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-headline center-align-text">Review</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <table layout="column" layout-align="center center">
                        <tr>
                            <td>
                                <h1 class="md-headline" ng-if="app.review.warnings < 3">Warnings</h1>
                                <h1 class="md-headline" md-colors="{color: 'warn-500'}" ng-if="app.review.warnings >= 3">Warnings</h1>
                            </td>
                            <td style="padding-left: 48px;">
                                <p class="md-subhead" ng-if="app.review.warnings < 3">{{app.review.warnings}}</p>
                                <p class="md-subhead" md-colors="{color: 'warn-500'}" ng-if="app.review.warnings >= 3">{{app.review.warnings}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h1 class="md-headline" ng-if="app.review.vacBans <= 0">VAC Bans</h1>
                                <h1 class="md-headline" md-colors="{color: 'warn-500'}" ng-if="app.review.vacBans > 0">VAC Bans</h1>
                            </td>
                            <td style="padding-left: 48px;">
                                <p class="md-subhead" ng-if="app.review.vacBans <= 0">{{app.review.vacBans}}</p>
                                <p class="md-subhead" md-colors="{color: 'warn-500'}" ng-if="app.review.vacBans > 0">{{app.review.vacBans}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h1 class="md-headline" ng-if="app.review.hours >= 20">Hours On DTP</h1>
                                <h1 class="md-headline" md-colors="{color: 'warn-500'}" ng-if="app.review.hours < 20">Hours On DTP</h1>
                            </td>
                            <td style="padding-left: 48px;">
                                <p class="md-subhead" ng-if="app.review.hours >= 20">{{app.review.hours}}</p>
                                <p class="md-subhead" md-colors="{color: 'warn-500'}" ng-if="app.review.hours < 20">{{app.review.hours}}</p>
                            </td>
                        </tr>
                    </table>
                    <md-divider></md-divider>
                    <div layout="column" layout-align="center center">
                        <h1 class="md-headline">Review Mark</h1>
                        <h1 class="md-headline" md-colors="{color: 'green-500'}"
                           ng-if="app.review.warnings < 3 && app.review.vacBans <= 0 && app.review.hours >= 20">Pass</h1>
                        <h1 class="md-headline" md-colors="{color: 'warn-500'}"
                           ng-if="app.review.warnings >= 3 || app.review.vacBans > 0 || app.review.hours < 20">Fail</h1>
                    </div>
                    <md-divider></md-divider>
                    <p class="md-subhead center-align-text" ng-if="app.review.accepted">
                        {{app.review.reviewedBy.name}} <span md-colors="{color: 'green-500'}">accepted</span> the review.
                    </p>
                    <p class="md-subhead center-align-text" ng-if="app.review.accepted === false">
                        {{app.review.reviewedBy.name}} <span md-colors="{color: 'warn-500'}">rejected</span> the review.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-icon class="icon-left-of-text" md-colors="{color: 'grey-500'}">rate_review</md-icon>
                    <span class="md-subhead">Reviewed by
                        <a ng-href="/user/{{app.review.reviewedBy._id}}" class="md-accent">{{app.review.reviewedBy.name}}</a>
                    </span>
                    <span flex></span>
                    <md-button class="md-icon-button md-accent" ng-if="!editingReview && !app.closed && user.roles.includes('Owner') ||
                     !editingReview && !app.closed && !editingReview && user.rank === 'Seraph'"
                               ng-click="toggleEditingReview()">
                        <md-icon>edit</md-icon>
                        <md-tooltip>Edit Review</md-tooltip>
                    </md-button>
                </md-card-actions>
            </md-card>

            <!-- Voting -->
            <div ng-if="app.status !== 'Under Review' && app.review.accepted">
                <md-subheader class="md-accent md-no-sticky">Votes</md-subheader>
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline center-align-text" ng-if="!app.closed && user.roles.includes('Owner') ||
                            !app.closed && user.rank === 'Seraph'">Place your vote</span>
                            <span class="md-headline center-align-text" ng-if="app.closed && user.roles.includes('Owner') || app.closed && user.rank === 'Seraph'">Votes</span>
                            <span class="md-headline center-align-text" ng-if="!user.roles.includes('Owner') && user.rank !== 'Seraph'">Votes</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p class="md-title center-align-text">{{app.votes.length}}/3 votes cast</p>
                        <table layout-fill ng-if="app.votes.length > 0">
                            <tbody layout="row" layout-align="space-around center" layout-fill>
                                <tr layout="column" layout-align="center center" ng-repeat="vote in app.votes">
                                    <td>
                                        <h1 class="md-headline">{{vote.voter.name}}</h1>
                                    </td>
                                    <td>
                                        <md-icon md-colors="{color: 'green-500'}" ng-if="vote.vote">
                                            check
                                            <md-tooltip>Yes</md-tooltip>
                                        </md-icon>
                                        <md-icon md-colors="{color: 'warn-500'}" ng-if="vote.vote === false">
                                            close
                                            <md-tooltip>No</md-tooltip>
                                        </md-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center" ng-if="!app.closed && user.roles.includes('Owner') || !app.closed && user.rank === 'Seraph'">
                        <div layout="row" layout-align="end center" layout-fill ng-if="!hasVoted || editingVote">
                            <md-button md-colors="{color: 'warn-500'}" ng-click="submitVote(false)">
                                No
                                <md-tooltip>Vote to deny {{app.authour.name}} from becoming a moderator</md-tooltip>
                            </md-button>
                            <span flex></span>
                            <md-button md-colors="{color: 'green-500'}" ng-click="submitVote(true)">
                                Yes
                                <md-tooltip>Vote to accept {{app.authour.name}} as a moderator</md-tooltip>
                            </md-button>
                        </div>
                        <md-button class="md-icon-button md-accent" ng-if="hasVoted && !editingVote" ng-click="toggleEditingVote()">
                            <md-icon>edit</md-icon>
                            <md-tooltip>Edit Vote</md-tooltip>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <!-- Comments -->
            <md-subheader class="md-accent md-no-sticky">Staff Opinions</md-subheader>
            <md-tabs md-align-tabs="bottom" md-stretch-tabs="always" md-dynamic-height ng-show="comments[0]._id">
                <md-tab label="{{label}}" ng-click="getComments(label)" ng-repeat="label in commentLabels">
                    <div layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-hide="gotComments">
                        <md-progress-circular class="md-accent"></md-progress-circular>
                    </div>
                    <md-card ng-repeat="comment in comments">
                        <md-card-title>
                            <md-card-title-media style="margin-right: 15px;" layout="row" layout-align="center center">
                                <img ng-src="{{comment.authour.avatarMedium}}" alt="" class="md-media card-media md-avatar circle" style="height: auto !important;">
                            </md-card-title-media>
                            <md-card-title-text>
                                <a ng-href="/user/{{comment.authour._id}}" class="md-title wrap-content md-accent md-hue-1">{{comment.authour.name}}</a>
                                <span class="md-subhead" am-time-ago="comment.createdAt"></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p class="wrap-content" ng-hide="editingComment && editingCommentId === comment._id" ng-bind-html="comment.comment | htmlLinky"></p>
                            <md-input-container class="md-block" ng-if="editingComment && editingCommentId === comment._id">
                                <label>Comment</label>
                                <textarea class="md-accent" ng-model="comment.comment" ng-disabled="!user" md-maxlength="1000"></textarea>
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <div layout="row" flex ng-if="comment.editedBy">
                                <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}">access_time</md-icon>
                                    <span class="md-subhead">Edited by
                                        <a ng-href="/user/{{comment.editedBy._id}}" class="md-accent">{{comment.editedBy.name}}</a>
                                        <span class="md-subhead" am-time-ago="comment.editedAt"></span>
                                    </span>
                                <span flex></span>
                            </div>
                            <div ng-if="user._id === comment.authour._id">
                                <md-button class="md-icon-button md-accent" ng-hide="editingComment && editingCommentId === comment._id" ng-click="toggleEditingComment(comment._id)">
                                    <md-icon>edit</md-icon>
                                    <md-tooltip>Edit comment</md-tooltip>
                                </md-button>
                                <md-button class="md-icon-button md-accent" ng-hide="editingComment && editingCommentId === comment._id" ng-click="confirmDeleteComment(comment._id)">
                                    <md-icon>delete</md-icon>
                                    <md-tooltip>Delete comment</md-tooltip>
                                </md-button>
                                <md-button class="md-accent" ng-show="editingComment && editingCommentId === comment._id"
                                           ng-click="toggleEditingComment(comment._id)">Cancel</md-button>
                                <md-button class="md-raised md-accent" ng-show="editingComment && editingCommentId === comment._id"
                                           ng-click="updateComment(comment)" ng-disabled="!comment.comment">Update</md-button>
                            </div>
                        </md-card-actions>
                    </md-card>
                </md-tab>
            </md-tabs>

            <!-- Comment Form -->
            <form name="commentForm">
                <h4 class="md-subhead center-align-text">Post your opinion of this application!</h4>
                <md-input-container layout="row">
                    <div flex>
                        <label>Comment</label>
                        <textarea name="comment" ng-model="newComment.comment" md-maxlength="1000"></textarea>
                        <div ng-messages="commentForm.comment.$error">
                            <div ng-message="md-maxlength">This must be less than 1000 characters long.</div>
                        </div>
                    </div>
                    <md-button class="md-fab md-mini md-primary" ng-disabled="!newComment.comment" ng-click="createComment()">
                        <md-icon>send</md-icon>
                        <md-tooltip>Post Comment</md-tooltip>
                    </md-button>
                </md-input-container>
            </form>
        </div>
    </div>
    <div flex-gt-sm></div>
</div>

<!-- Delete Comment Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteComment">
        <md-dialog aria-label="Delete Comment">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete this comment forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deleteComment()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>