<div layout="row">
    <div flex-gt-sm></div>
    <div layout-padding flex-gt-sm="80" flex>
        <login-prompt user="user"></login-prompt>
        <unauthorized user="user" authorized="authorized"></unauthorized>

        <div ng-if="user && authorized">
            <md-card>
                <md-toolbar class="md-toolbar-tools"><span>Moderator Applications</span></md-toolbar>
                <table layout-fill>
                    <tr layout="row" layout-align="space-around center" layout-fill>
                        <td><h4>Authour</h4></td>
                        <td hide show-gt-xs><h4>Votes</h4></td>
                        <td hide show-gt-xs><h4>Status</h4></td>
                        <td><h4>Open/Closed</h4></td>
                    </tr>
                </table>
                <md-list-item class="md-3-line" ng-repeat="app in apps" ng-click="$location.path('/admin/application/' + app._id)">
                    <table layout-fill>
                        <tr layout="row" layout-align="space-around center" layout-fill>
                            <td layout="row" layout-align="start center">
                                <p>{{app.authour.name}}</p>
                            </td>
                            <td hide show-gt-xs><p>{{app.votes.length}}/3</p></td>
                            <td hide show-gt-xs><p ng-class="{'mod-app-under-review': app.status === 'Under Review',
                        'mod-app-awaiting-votes': app.status === 'Awaiting Votes', 'mod-app-accepted': app.status === 'Accepted',
                        'mod-app-rejected': app.status === 'Rejected'}">{{app.status}}</p></td>
                            <td>
                                <p>
                                    <span ng-show="app.closed" md-colors="{color: 'warn-500'}">Closed</span>
                                    <span ng-hide="app.closed" md-colors="{color: 'green-500'}">Open</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <md-divider></md-divider>
                </md-list-item>
                <div layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex ng-if="!gotApps">
                    <md-progress-circular class="md-accent"></md-progress-circular>
                </div>
                <div style="padding-top: 8px" layout="row" ng-if="apps.length !== numApps">
                    <div flex></div>
                    <md-button ng-click="getModApps()">Load More</md-button>
                </div>
            </md-card>
        </div>
    </div>
    <div flex-gt-sm></div>
</div>