<div layout="row">
    <div flex-gt-sm></div>
    <div layout-padding flex-gt-sm="60" flex>
        <login-prompt user="user"></login-prompt>
        <unauthorized user="user" authorized="authorized"></unauthorized>

        <div ng-if="user && authorized && gotApp">
            <md-card>
                <md-card-title>
                    <md-card-title-text layout="column" layout-align="center center">
                        <span class="md-headline wrap-title">Status</span>
                        <br>
                        <span class="md-headline wrap-title" ng-class="{'mod-app-under-review': app.status === 'Under Review',
                            'mod-app-awaiting-votes': app.status === 'Awaiting Votes', 'mod-app-accepted': app.status === 'Accepted',
                            'mod-app-rejected': app.status === 'Rejected'}">{{app.status}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <h1 class="md-display-2">{{app.authour.name}}'s Moderator Application</h1>
            <p md-colors="{color: 'red-600'}">* Required</p>
            <br>
            <h1 class="md-headline">Name</h1>
            <p class="md-subhead" ng-hide="!app.name">{{app.name}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.name">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Gender</h1>
            <p class="md-subhead" ng-hide="!app.gender">{{app.gender}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.gender">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Age</h1>
            <p class="md-subhead" ng-hide="!app.age">{{app.age}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.age">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Location</h1>
            <p class="md-subhead" ng-hide="!app.location">{{app.location}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.location">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Occupation</h1>
            <p class="md-subhead" ng-hide="!app.occupation">{{app.occupation}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.occupation">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Time Spent Playing Garry's Mod</h1>
            <p class="md-subhead" ng-hide="!app.timePlayedGmod">{{app.timePlayedGmod}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.timePlayedGmod">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">How You Found Us</h1>
            <p class="md-subhead" ng-hide="!app.howYouFoundUs">{{app.howYouFoundUs}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.howYouFoundUs">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">ULX Experience <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.ulxExperience">{{app.ulxExperience}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.ulxExperience">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Leadership Experience <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.leadershipExperience">{{app.leadershipExperience}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.leadershipExperience">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Garry's Mod Leadership Experience <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.gmodLeadershipExperience">{{app.gmodLeadershipExperience}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.gmodLeadershipExperience">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Willing to add us on Steam <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-if="app.willingToAddUsOnSteam">Yes</p>
            <p class="md-subhead" md-colors="{color: 'warn-500'}" ng-if="!app.willingToAddUsOnSteam">No</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Why We Should Accept You <span md-colors="{color: 'red-600'}">*</span></h1>
            <p class="md-subhead" ng-hide="!app.whyWeShouldAccept">{{app.whyWeShouldAccept}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.whyWeShouldAccept">No information given</p>
            <md-divider></md-divider>
            <h1 class="md-headline">Additional Information</h1>
            <p class="md-subhead" ng-hide="!app.additionalInfo">{{app.additionalInfo}}</p>
            <p class="md-subhead" md-colors="{color: 'grey-500'}" ng-show="!app.additionalInfo">No information given</p>
            <md-divider></md-divider>
            <div layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex ng-if="!gotApp">
                <md-progress-circular class="md-accent"></md-progress-circular>
            </div>
        </div>
    </div>
    <div flex-gt-sm></div>
</div>