<div layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex ng-hide="gotNews">
    <md-progress-circular class="md-accent"></md-progress-circular>
</div>

<div ng-repeat="(date, news) in newsMonths">
    <md-subheader class="md-accent">
        <span flex-offset-gt-sm="20"
        ng-class="{january: date.includes('January'), february: date.includes('February'), march: date.includes('March'), april: date.includes('April'),
        may: date.includes('May'), june: date.includes('June'), july: date.includes('July'), august: date.includes('August'), september: date.includes('September'),
        october: date.includes('October'), november: date.includes('November'), december: date.includes('Decemer')}">{{date}}</span>
    </md-subheader>
    <md-card flex-gt-sm="60" flex flex-offset-gt-sm="20" ng-repeat="event in news | orderBy: '-createdAt'">
        <md-list>
            <md-list-item>
                <div layout="column" layout-fill>
                    <h1 style="margin-bottom: 4px;" class="md-headline truncate" flex="100"><a ng-href="/news/{{event._id}}" class="md-primary">{{event.title}}</a></h1>
                    <span>By <a ng-href="/user/{{event.authour._id}}" class="md-accent">{{event.authour.name}}</a> <span am-time-ago="event.createdAt"></span></span>
                    <p class="three-line wrap-content" flex="100" ng-bind-html="event.content | htmlLinky"></p>
                </div>
            </md-list-item>
        </md-list>
        <md-card-actions layout="row">
            <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
            <span class="md-subhead">
                <span ng-show="event.comments[0]">{{event.comments.length}}</span>
                <span ng-hide="event.comments[0]">0</span>
            </span>
        </md-card-actions>
    </md-card>
</div>

<md-button class="md-fab md-accent" ng-class="{'md-fab-top-right': $mdMedia('gt-sm'), 'md-fab-bottom-right': !$mdMedia('gt-sm')}"
           layout="column" layout-align="center center" ng-if="user && user.permissions.news.createNews" ng-click="newNewsDialog()">
    <md-icon>add</md-icon>
    <md-tooltip>Create News</md-tooltip>
</md-button>

<!-- Create News Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="createNews">
        <md-dialog aria-label="Create News" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span>Create News</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form name="newNewsEvent">
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input name="title" ng-model="newNews.title" md-autofocus md-maxlength="100" required md-no-asterisk>
                        <div ng-messages="newNewsEvent.title.$error">
                            <div ng-message="md-maxlength">This must be 100 characters long or less.</div>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea name="content" ng-model="newNews.content" md-maxlength="5000" required md-no-asterisk></textarea>
                        <div ng-messages="newNewsEvent.content.$error">
                            <div ng-message="md-maxlength">This must be 5,000 characters long or less.</div>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </form>
                <formatting-help ng-show="showFormattingHelp"></formatting-help>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="toggleFormattingHelp()">Formatting
                    <md-icon ng-hide="showFormattingHelp">arrow_drop_down</md-icon>
                    <md-icon ng-show="showFormattingHelp">arrow_drop_up</md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="createNews()" ng-disabled="!newNews.title || !newNews.content">Create</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
