<div layout="row" layout-align="center center">
    <div layout="column" flex-gt-sm="80" flex>
        <md-card layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotNewsEvent">
            <md-progress-circular class="md-accent"></md-progress-circular>
        </md-card>
        <md-card ng-show="gotNewsEvent">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline wrap-title" md-colors="{color: 'primary'}">{{news.title}}</span>
                    <span class="md-subhead">
                        By <a ng-href="/user/{{news.authour._id}}" class="md-accent no-underline">{{news.authour.name}}</a>
                        <span am-time-ago="news.createdAt"></span>
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content class="wrap-content" style="background-color: transparent" ng-bind-html="news.content | htmlLinky"></md-content>
                <md-divider style="margin-top: 16px; padding-bottom: 10px;"></md-divider>
                <div layout="row" layout-align="center center">
                    <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}" ng-if="news.editedBy">access_time</md-icon>
            <span class="md-subhead" ng-if="news.editedBy">Edited by
                <a ng-href="/user/{{news.editedBy._id}}" class="md-accent no-underline">{{news.editedBy.name}}</a>
                <span class="md-subhead" am-time-ago="news.editedAt"></span>
            </span>
                    <span flex></span>
                    <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
            <span class="md-subhead info-colour">
                <span ng-show="news.comments[0]">{{news.comments.length}}</span>
                <span ng-hide="news.comments[0]">0</span>
            </span>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" ng-if="user.permissions.news.updateNews || user.permissions.news.deleteNews">
                <md-button class="md-icon-button md-accent" ng-if="user.permissions.news.updateNews" ng-click="editNewsDialog()">
                    <md-icon>edit</md-icon>
                    <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Edit News Event</md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-accent" ng-if="user.permissions.news.deleteNews" ng-click="confirmDeleteNews()">
                    <md-icon>delete</md-icon>
                    <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Delete News Event</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Comments -->
        <md-tabs md-align-tabs="bottom" md-stretch-tabs="always" md-dynamic-height ng-show="comments[0]._id">
            <md-tab label="{{label}}" ng-click="getComments(label)" ng-repeat="label in commentLabels">
                <md-subheader class="md-accent md-no-sticky">Comments</md-subheader>
                <div layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-hide="gotComments">
                    <md-progress-circular class="md-accent"></md-progress-circular>
                </div>
                <md-card ng-repeat="comment in comments">
                    <md-card-title>
                        <md-card-title-media style="margin-right: 15px;" layout="row" layout-align="center center">
                            <img ng-src="{{comment.authour.avatar}}" alt="" class="md-media card-media md-avatar circle" style="height: auto !important;">
                        </md-card-title-media>
                        <md-card-title-text>
                            <a ng-href="/user/{{comment.authour._id}}" class="md-title wrap-content md-accent md-hue-1 no-underline">{{comment.authour.name}}</a>
                            <span class="md-subhead" am-time-ago="comment.createdAt"></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="wrap-content" ng-hide="editingComment && editingCommentId === comment._id">{{comment.comment}}</p>
                        <md-input-container class="md-block" ng-if="editingComment && editingCommentId === comment._id">
                            <label>Comment</label>
                            <textarea class="md-accent" ng-model="comment.comment" ng-disabled="!user" md-maxlength="1000"></textarea>
                        </md-input-container>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <div layout="row" flex ng-if="comment.editedBy">
                            <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}">access_time</md-icon>
                                    <span class="md-subhead">Edited by
                                        <a ng-href="/user/{{comment.editedBy._id}}" class="md-accent no-underline">{{comment.editedBy.name}}</a>
                                        <span class="md-subhead" am-time-ago="comment.editedAt"></span>
                                    </span>
                            <span flex></span>
                        </div>
                        <div ng-if="user._id === comment.authour._id">
                            <md-button class="md-icon-button md-accent" ng-hide="editingComment && editingCommentId === comment._id"
                                       ng-if="user._id === comment.authour._id || user.permissions.news.updateComments" ng-click="toggleEditingComment(comment._id)">
                                <md-icon>edit</md-icon>
                                <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Edit comment</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-accent" ng-hide="editingComment && editingCommentId === comment._id"
                                       ng-if="user._id === comment.authour._id || user.permissions.news.deleteComments" ng-click="confirmDeleteComment(comment._id)">
                                <md-icon>delete</md-icon>
                                <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Delete comment</md-tooltip>
                            </md-button>
                            <md-button class="md-accent" ng-show="editingComment && editingCommentId === comment._id"
                                       ng-click="toggleEditingComment(comment._id)">Cancel</md-button>
                            <md-button class="md-raised md-accent" ng-show="editingComment && editingCommentId === comment._id"
                                       ng-click="updateComment(comment)" ng-disabled="!comment.comment">Update</md-button>
                        </div>
                    </md-card-actions>
                </md-card>
            </md-tab>
        </md-tabs>

        <!-- Comment Form -->
        <form style="margin: 8px" ng-if="!user || user.permissions.news.createComments">
            <md-input-container layout="row">
                <div flex>
                    <label ng-show="user">Comment</label>
                    <label ng-hide="user">Sign in to comment</label>
                    <textarea class="md-accent" ng-model="newComment.comment" ng-disabled="!user" md-maxlength="1000"></textarea>
                </div>
                <md-button class="md-fab md-mini md-primary" ng-if="user" ng-disabled="!newComment.comment" ng-click="createComment()">
                    <md-icon>send</md-icon>
                    <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Post Comment</md-tooltip>
                </md-button>
            </md-input-container>
        </form>
    </div>
    </div>
</div>

<!-- Edit News Event Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="editNews">
        <md-dialog aria-label="Edit {{news.title}}" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span class="truncate">Edit {{news.title}}</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="news.title" md-auto-focus md-maxlength="100">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea ng-model="news.content" md-maxlength="10000"></textarea>
                    </md-input-container>
                </form>
                <formatting-help ng-show="showFormattingHelp"></formatting-help>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="toggleFormattingHelp()">Formatting
                    <md-icon ng-hide="showFormattingHelp">arrow_drop_down</md-icon>
                    <md-icon ng-show="showFormattingHelp">arrow_drop_up</md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="updateNews()" ng-disabled="!news.title || !news.content">Update</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete News Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteNews">
        <md-dialog aria-label="Delete {{news.title}}">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete {{news.title}} forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deleteNews()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete Comment Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteComment">
        <md-dialog aria-label="Delete Comment">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete this comment forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deleteComment()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>