<div layout="row">
    <div flex></div>
    <div flex-gt-sm="70" flex="90">
        <md-subheader class="md-no-sticky">
            <a href="/forum" class="md-accent no-underline">Home</a>
            <md-icon class="material-icons md-18 md-accent">keyboard_arrow_right</md-icon>
            <a ng-href="{{post.category.path}}" class="md-accent no-underline">{{post.category.title}}</a>
            <md-icon class="material-icons md-18 md-accent">keyboard_arrow_right</md-icon>
            <a ng-href="{{post.category.path}}/{{post._id}}" class="md-accent no-underline">{{post.title | limitTo: 100}}</a>
        </md-subheader>
        <div layout="row">
            <div flex="75" layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-media style="margin-right: 15px;">
                            <img ng-src="{{post.authour.avatarMedium}}" alt="" class="md-media card-media md-avatar circle" style="width: auto;">
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline wrap-title">{{post.title}}</span>
                            <span class="md-subhead">
                                By <a ng-href="/user/{{post.authour._id}}" class="md-accent no-underline">{{post.authour.name}}</a>
                                <span am-time-ago="post.createdAt"></span>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="wrap-content" ng-bind-html="post.content | htmlLinky"></p>
                        <md-divider style="padding-bottom: 10px;"></md-divider>
                        <div layout="row" layout-align="center center">
                            <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}" ng-if="post.updatedAt !== post.createdAt">access_time</md-icon>
                            <span class="md-subhead" ng-if="post.updatedAt !== post.createdAt">Edited by
                                <a ng-href="/user/{{post.editedBy._id}}" class="md-accent no-underline">{{post.editedBy.name}}</a>
                                <span class="md-subhead" am-time-ago="post.updatedAt"></span>
                            </span>
                            <span flex></span>
                            <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                            <span class="md-subhead info-colour">
                                <span ng-show="post.comments[0]">{{post.comments.length}}</span>
                                <span ng-hide="post.comments[0]">0</span>
                            </span>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center" ng-show="user">
                        <md-button class="md-icon-button md-accent" ng-click="editPostDialog()">
                            <md-icon>edit</md-icon>
                            <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Edit post</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-accent" ng-click="confirmDeletePost()">
                            <md-icon>delete</md-icon>
                            <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Delete post</md-tooltip>
                        </md-button>
                    </md-card-actions>
                </md-card>

                <!-- Comments -->
                <div ng-show="comments[0]._id">
                    <md-tabs md-align-tabs="bottom" md-stretch-tabs="always" md-dynamic-height>
                        <md-tab label="Page {{label}}" ng-click="getComments(label)" ng-repeat="label in commentLabels">
                            <md-subheader class="md-accent md-no-sticky">Comments</md-subheader>
                            <md-card ng-repeat="comment in comments">
                                <md-card-title>
                                    <md-card-title-media style="margin-right: 15px;" layout="row" layout-align="center center">
                                        <img ng-src="{{comment.authour.avatar}}" alt="" class="md-media card-media md-avatar circle">
                                    </md-card-title-media>
                                    <md-card-title-text>
                                        <a ng-href="/user/{{comment.authour._id}}" class="md-title wrap-content md-accent md-hue-1 no-underline">{{comment.authour.name}}</a>
                                        <span class="md-subhead" am-time-ago="comment.createdAt"></span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p class="wrap-content" ng-hide="editingComment">{{comment.comment}}</p>
                                    <md-input-container class="md-block" ng-if="editingComment">
                                        <label>Comment</label>
                                        <textarea class="md-accent" ng-model="comment.comment" ng-disabled="!user"></textarea>
                                    </md-input-container>
                                    <div ng-if="comment.updatedAt !== comment.createdAt">
                                        <md-divider style="padding-bottom: 10px;"></md-divider>
                                        <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}">access_time</md-icon>
                                        <span class="md-subhead">Edited by
                                            <a ng-href="/user/{{comment.editedBy._id}}" class="md-accent no-underline">{{comment.editedBy.name}}</a>
                                            <span class="md-subhead" am-time-ago="comment.updatedAt"></span>
                                        </span>
                                        <span flex></span>
                                    </div>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center" ng-show="user">
                                    <md-button class="md-icon-button md-accent" ng-hide="editingComment" ng-click="editingComment = true">
                                        <md-icon>edit</md-icon>
                                        <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Edit comment</md-tooltip>
                                    </md-button>
                                    <md-button class="md-icon-button md-accent" ng-hide="editingComment" ng-click="confirmDeleteComment(comment._id)">
                                        <md-icon>delete</md-icon>
                                        <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Delete comment</md-tooltip>
                                    </md-button>
                                    <md-button class="md-accent" ng-show="editingComment" ng-click="editingComment = false">Cancel</md-button>
                                    <md-button class="md-raised md-accent" ng-show="editingComment" ng-click="updateComment(comment)" ng-disabled="!comment.comment">Update</md-button>
                                </md-card-actions>
                            </md-card>
                        </md-tab>
                    </md-tabs>
                </div>

                <!-- Comment Form -->
                <form style="margin: 8px">
                    <md-input-container layout="row">
                        <div flex>
                            <label ng-show="user">Comment</label>
                            <label ng-hide="user">Sign in to comment</label>
                            <textarea class="md-accent" ng-model="newComment.comment" ng-disabled="!user"></textarea>
                        </div>
                        <md-button class="md-fab md-mini md-primary" ng-show="user" ng-disabled="!newComment.comment" ng-click="createComment()">
                            <md-icon>send</md-icon>
                            <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">Post Comment</md-tooltip>
                        </md-button>
                    </md-input-container>
                </form>
            </div>
            <div flex="25" layout="column">
                <md-subheader class="md-no-sticky">Categories</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item ng-repeat="category in categories" ng-click="$location.path(category.path)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{category.title}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'green-500'}">message</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="category.posts[0]">{{category.posts.length}}</span>
                                        <span ng-hide="category.posts[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>

                <md-subheader class="md-no-sticky">Recent Discussions</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item ng-repeat="recentPost in recentPosts" ng-click="$location.path(recentPost.category.path + '/' + recentPost._id)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{recentPost.title | limitTo: 22}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="recentPost.comments[0]">{{recentPost.comments.length}}</span>
                                        <span ng-hide="recentPost.comments[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
        </div>
    </div>
    <div flex></div>
</div>

<!-- Edit Post Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="editPost">
        <md-dialog aria-label="Edit {{post.title}}" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span class="truncate">Edit {{post.title}}</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="post.title" md-auto-focus>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea ng-model="post.content"></textarea>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions>
                <div flex></div>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="updatePost()" ng-disabled="!post.title || !post.content">Update</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete Post Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deletePost">
        <md-dialog aria-label="Delete {{post.title}}">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete {{post.title}} forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deletePost()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete Comment Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteComment">
        <md-dialog aria-label="Delete Comment">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete this comment forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deleteComment()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>