<div layout="row">
    <div flex></div>
    <div flex-gt-sm="70" flex="90">
        <md-subheader class="md-no-sticky">
            <a href="/forum" class="md-accent no-underline">Forum</a>
            <md-icon class="material-icons md-18 md-accent">keyboard_arrow_right</md-icon>
            <a ng-href="{{category.path}}" class="md-accent no-underline">{{category.title}}</a>
        </md-subheader>
        <div layout-gt-sm="row" layout="column">
            <div flex-gt-sm="75" flex="100" layout="column">
                <md-card flex>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h3>{{category.title}}</h3>
                        </div>
                    </md-toolbar>
                    <section layout="column" layout-align="center center" layout-fill layout-padding layout-margin flex ng-if="!gotPosts">
                        <md-progress-circular class="md-accent"></md-progress-circular>
                    </section>
                    <section>
                        <md-list>
                            <md-tabs md-align-tabs="bottom" md-stretch-tabs="always" md-dynamic-height>
                                <md-tab label="{{label}}" ng-click="getPosts(label)" ng-repeat="label in postLabels">
                                    <md-list-item ng-hide="posts[0]" ng-if="user.permissions.forum.createPosts || !user" layout-padding>
                                        <div class="md-list-item-text" flex>
                                            <p>Looks like no one else has posted in this category yet. Why not start things off?</p>
                                            <md-button class="md-raised md-primary" ng-click="newPostDialog()" ng-disabled="!user">
                                                <span ng-show="user">New Post</span>
                                                <span ng-hide="user">Sign in to Post</span>
                                            </md-button>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" ng-repeat="post in posts | orderBy: '-updatedAt'" ng-click="$location.path(category.path + '/' + post._id)">
                                        <img ng-src="{{post.authour.avatar}}" class="md-avatar" alt="">
                                        <div class="md-list-item-text">
                                            <h3 flex="90">{{post.title}}</h3>
                                            <div layout="row">
                                                <p flex>By {{post.authour.name}} <span am-time-ago="post.createdAt"></span></p>
                                                <md-icon class="icon-left-of-text-far" ng-if="post.locked">lock</md-icon>
                                                <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                                                <span class="md-subhead">
                                                    <span ng-show="post.comments[0]">{{post.comments.length}}</span>
                                                    <span ng-hide="post.comments[0]">0</span>
                                                </span>
                                            </div>
                                        </div>
                                        <md-divider md-inset></md-divider>
                                    </md-list-item>
                                </md-tab>
                            </md-tabs>
                        </md-list>
                    </section>
                </md-card>
            </div>
            <div flex-gt-sm="25" flex="100" layout="column">
                <md-button class="md-raised md-primary" style="margin-top: 8px" ng-if="user.permissions.forum.createPosts || !user" ng-click="newPostDialog()" ng-disabled="!user">
                    <span ng-show="user">New Post</span>
                    <span ng-hide="user">Sign in to Post</span>
                </md-button>

                <a ng-href="/auth/steam" target="_self" aria-label="Sign in through Steam" layout="row" layout-align="center center" ng-hide="user">
                    <img src="assets/img/steam.png" alt="Sign in through Steam" layout-margin>
                </a>

                <md-subheader class="md-no-sticky">Categories</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotCategories">
                            <md-progress-circular class="md-accent"></md-progress-circular>
                        </md-list-item>
                        <md-list-item ng-repeat="category in categories" ng-click="$location.path(category.path)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{category.title}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'green-500'}">message</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="category.posts[0]">{{category.posts.length}}</span>
                                        <span ng-hide="category.posts[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>

                <md-subheader class="md-no-sticky">Recent Discussions</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotRecentPosts">
                            <md-progress-circular class="md-accent"></md-progress-circular>
                        </md-list-item>
                        <md-list-item ng-repeat="recentPost in recentPosts" ng-click="$location.path(recentPost.category.path + '/' + recentPost._id)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{recentPost.title | limitTo: 22}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="recentPost.comments[0]">{{recentPost.comments.length}}</span>
                                        <span ng-hide="recentPost.comments[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
        </div>
    </div>
    <div flex></div>
</div>

<md-button class="md-fab md-accent md-fab-bottom-right" layout="column" layout-align="center center" hide-gt-sm ng-show="user" ng-click="newPostDialog()">
    <md-icon>add</md-icon>
    <md-tooltip md-colors="{color: 'DTPDark-accent-900'}">New Post</md-tooltip>
</md-button>

<!-- Create Post Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="createPost">
        <md-dialog aria-label="Create Post" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span>Create Post</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="newPost.title" md-autofocus md-maxlength="50">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea ng-model="newPost.content" md-maxlength="10000"></textarea>
                    </md-input-container>
                </form>
                <formatting-help ng-show="showFormattingHelp"></formatting-help>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="toggleFormattingHelp()">Formatting
                    <md-icon ng-hide="showFormattingHelp">arrow_drop_down</md-icon>
                    <md-icon ng-show="showFormattingHelp">arrow_drop_up</md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="createPost()" ng-disabled="!newPost.title || !newPost.content">Create</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>
