<div layout-padding>

    <div flex="66" layout="row">
        <div flex></div>
        <md-card flex-gt-sm="80" flex="95">
            <md-toolbar class="md-hue-2">
                <md-list-item class="md-3-line">
                    <md-icon class="md-avatar material-icons md-48">{{category.icon}}</md-icon>
                    <div class="md-list-item-text">
                        <span class="md-headline">{{category.title}}</span>
                        <h4>{{category.description}}</h4>
                    </div>
                </md-list-item>
            </md-toolbar>
            <md-card-content ng-hide="gotPosts" layout="row" layout-align="center center" flex>
                <md-progress-circular class="md-accent"></md-progress-circular>
            </md-card-content>
            <md-list>
                <md-list-item class="md-2-line" ng-click="goToPost(post._id)" ng-repeat="post in posts | orderBy: '-updatedAt'">
                    <img ng-src="{{post.authour.avatar}}" alt="" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3>{{post.title}}</h3>
                        <p>By {{post.authour.name}}</p>
                    </div>
                    <md-divider md-inset></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
        <div flex></div>
    </div>

    <md-button class="md-fab md-accent md-fab-top-right" layout="column" layout-align="center center" hide show-gt-sm ng-show="user" ng-click="newPostDialog()">
        <md-icon>add</md-icon>
        <md-tooltip>New Post</md-tooltip>
    </md-button>

    <md-button class="md-fab md-accent md-fab-bottom-right" layout="column" layout-align="center center" hide-gt-sm ng-show="user" ng-click="newPostDialog()">
    <md-icon>add</md-icon>
    <md-tooltip>New Post</md-tooltip>
    </md-button>

    <!-- Create Post Dialog -->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="createPost">
            <md-dialog aria-label="Create Post" flex-gt-sm="50" flex>
                <md-toolbar class="md-toolbar-tools">
                    <span>Create Post</span>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content">
                    <form>
                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-model="newPost.title" md-autofocus>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Content</label>
                            <textarea ng-model="newPost.content"></textarea>
                        </md-input-container>
                    </form>
                </md-dialog-content>
                <md-dialog-actions>
                    <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="createPost()">Create</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>
</div>