<div layout="row">
    <div flex></div>
    <div flex-gt-sm="70" flex="90">
        <md-subheader class="md-no-sticky">
            <a href="/forum" class="md-accent">Forum</a>
            <md-icon class="material-icons md-18 md-accent">keyboard_arrow_right</md-icon>
            <a ng-href="{{post.category.path}}" class="md-accent">{{post.category.title}}</a>
            <md-icon class="material-icons md-18 md-accent">keyboard_arrow_right</md-icon>
            <a ng-href="{{post.category.path}}/{{post._id}}" class="md-accent">{{post.title | limitTo: 100}}</a>
        </md-subheader>
        <div layout-gt-sm="row" layout="column">
            <div flex-gt-sm="75" flex="100" layout="column">
                <md-card ng-if="post.locked">
                    <md-card-title>
                        <md-card-title-text layout="column" layout-align="center center">
                            <md-icon class="material-icons md-36">lock</md-icon>
                            <br>
                            <span class="md-headline wrap-title">This post is locked</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotPost">
                    <md-progress-circular class="md-accent"></md-progress-circular>
                </md-card>
                <md-card ng-show="gotPost">
                    <md-card-title>
                        <md-card-title-media style="margin-right: 15px;">
                            <img ng-src="{{post.authour.avatarMedium}}" alt="" class="md-media card-media md-avatar circle" style="height: auto !important;">
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline wrap-title">{{post.title}}</span>
                            <span class="md-subhead">
                                By <a ng-href="/user/{{post.authour._id}}" class="md-accent">{{post.authour.name}}</a>
                                <span am-time-ago="post.createdAt"></span>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-content class="wrap-content" style="background-color: transparent" ng-bind-html="post.content | htmlLinky"></md-content>
                        <md-divider style="margin-top: 16px; padding-bottom: 10px;"></md-divider>
                        <div layout="row" layout-align="center center">
                            <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}" ng-if="post.editedBy">access_time</md-icon>
                            <span class="md-subhead" ng-if="post.editedBy">Edited by
                                <a ng-href="/user/{{post.editedBy._id}}" class="md-accent">{{post.editedBy.name}}</a>
                                <span class="md-subhead" am-time-ago="post.editedAt"></span>
                            </span>
                            <span flex></span>
                            <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                            <span class="md-subhead info-colour">
                                <span ng-show="post.comments[0]">{{post.comments.length}}</span>
                                <span ng-hide="post.comments[0]">0</span>
                            </span>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center" ng-if="!post.locked && user._id === post.authour._id ||
                    !post.locked && user.permissions.forum.updatePosts || !post.locked && user.permissions.forum.deletePosts">
                        <md-button class="md-icon-button md-accent" ng-if="!post.locked && user._id === post.authour._id ||
                        !post.locked && user.permissions.forum.updatePosts" ng-click="editPostDialog()">
                            <md-icon>edit</md-icon>
                            <md-tooltip>Edit post</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button md-accent" ng-if="!post.locked && user._id === post.authour._id ||
                        !post.locked && user.permissions.forum.deletePosts" ng-click="confirmDeletePost()">
                            <md-icon>delete</md-icon>
                            <md-tooltip>Delete post</md-tooltip>
                        </md-button>
                    </md-card-actions>
                </md-card>

                <!-- Comments -->
                <div>
                    <md-tabs md-align-tabs="bottom" md-stretch-tabs="always" md-dynamic-height ng-show="comments[0]._id">
                        <md-tab label="{{label}}" ng-click="getComments(label)" ng-repeat="label in commentLabels">
                            <md-subheader class="md-accent md-no-sticky">Comments</md-subheader>
                            <div layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-hide="gotComments">
                                <md-progress-circular class="md-accent"></md-progress-circular>
                            </div>
                            <md-card ng-repeat="comment in comments">
                                <md-card-title>
                                    <md-card-title-media style="margin-right: 15px;" layout="row" layout-align="center center">
                                        <img ng-src="{{comment.authour.avatar}}" alt="" class="md-media card-media md-avatar circle" style="height: auto !important;">
                                    </md-card-title-media>
                                    <md-card-title-text>
                                        <a ng-href="/user/{{comment.authour._id}}" class="md-title wrap-content md-accent md-hue-1">{{comment.authour.name}}</a>
                                        <span class="md-subhead" am-time-ago="comment.createdAt"></span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-content>
                                    <p class="wrap-content" ng-hide="editingComment && editingCommentId === comment._id" ng-bind-html="comment.comment | htmlLinky"></p>
                                    <md-input-container class="md-block" ng-if="editingComment && editingCommentId === comment._id">
                                        <label>Comment</label>
                                        <textarea class="md-accent" ng-model="comment.comment" ng-disabled="!user" md-maxlength="1000"></textarea>
                                    </md-input-container>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <div layout="row" flex ng-if="comment.editedBy">
                                        <md-icon class="icon-left-of-text" md-colors="{color: 'amber-500'}">access_time</md-icon>
                                        <span class="md-subhead">Edited by
                                            <a ng-href="/user/{{comment.editedBy._id}}" class="md-accent">{{comment.editedBy.name}}</a>
                                            <span class="md-subhead" am-time-ago="comment.editedAt"></span>
                                        </span>
                                        <span flex></span>
                                    </div>
                                    <div ng-if="!post.locked && user._id === comment.authour._id">
                                        <md-button class="md-icon-button md-accent" ng-hide="editingComment && editingCommentId === comment._id"
                                                   ng-if="user._id === comment.authour._id || user.permissions.forum.updateComments" ng-click="toggleEditingComment(comment._id)">
                                            <md-icon>edit</md-icon>
                                            <md-tooltip>Edit comment</md-tooltip>
                                        </md-button>
                                        <md-button class="md-icon-button md-accent" ng-hide="editingComment && editingCommentId === comment._id"
                                                   ng-if="user._id === comment.authour._id || user.permissions.forum.deleteComments" ng-click="confirmDeleteComment(comment._id)">
                                            <md-icon>delete</md-icon>
                                            <md-tooltip>Delete comment</md-tooltip>
                                        </md-button>
                                        <md-button class="md-accent" ng-show="editingComment && editingCommentId === comment._id"
                                                   ng-click="toggleEditingComment(comment._id)">Cancel</md-button>
                                        <md-button class="md-raised md-accent" ng-show="editingComment && editingCommentId === comment._id"
                                                   ng-click="updateComment(comment)" ng-disabled="!comment.comment">Update</md-button>
                                    </div>
                                </md-card-actions>
                            </md-card>
                        </md-tab>
                    </md-tabs>
                </div>

                <!-- Comment Form -->
                <form style="margin: 8px" ng-if="!user || user.permissions.forum.createComments">
                    <md-input-container layout="row">
                        <div flex>
                            <label ng-show="user && !post.locked">Comment</label>
                            <label ng-hide="user || post.locked">Sign in to comment</label>
                            <label ng-show="post.locked">Commenting is disabled on locked posts</label>
                            <textarea class="md-accent" ng-model="newComment.comment" ng-disabled="!user || post.locked" md-maxlength="1000"></textarea>
                        </div>
                        <md-button class="md-fab md-mini md-primary" ng-if="user && !post.locked" ng-disabled="!newComment.comment" ng-click="createComment()">
                            <md-icon>send</md-icon>
                            <md-tooltip>Post Comment</md-tooltip>
                        </md-button>
                    </md-input-container>
                </form>
            </div>

            <div flex-gt-sm="25" flex="100" layout="column">
                <div layout="column" ng-if="user._id === post.authour._id || user.permissions.forum.lockPosts ||
                user.permissions.forum.movePosts">
                    <md-subheader class="md-no-sticky">Post Options</md-subheader>
                    <md-card>
                        <md-list>
                            <md-list-item ng-if="!post.locked && user._id === post.authour._id || !post.locked && user.permissions.forum.lockPosts" ng-click="lockPost(true)">
                                <div class="md-list-item-text" layout="row" layout-align="center center">
                                    <md-icon class="icon-left-of-text-far">lock</md-icon>
                                    <span class="wrap-title">Lock Post</span>
                                </div>
                            </md-list-item>
                            <md-list-item ng-if="post.locked && user._id === post.authour._id || post.locked && user.permissions.forum.lockPosts" ng-click="lockPost(false)">
                                <div class="md-list-item-text" layout="row" layout-align="center center">
                                    <md-icon class="icon-left-of-text-far">lock_open</md-icon>
                                    <span class="wrap-title">Unlock Post</span>
                                </div>
                            </md-list-item>
                            <md-list-item ng-if="!post.locked && user._id === post.authour._id || user.permissions.forum.movePosts" ng-click="movePostDialog()">
                                <div class="md-list-item-text" layout="row" layout-align="center center">
                                    <md-icon class="icon-left-of-text-far">forward</md-icon>
                                    <span class="wrap-title">Move Post</span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card>
                </div>

                <md-subheader class="md-no-sticky">Categories</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotCategories">
                            <md-progress-circular class="md-accent"></md-progress-circular>
                        </md-list-item>
                        <md-list-item ng-repeat="category in categories" ng-click="$location.path(category.path)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{category.title}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'green-500'}">message</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="category.posts[0]">{{category.posts.length}}</span>
                                        <span ng-hide="category.posts[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>

                <md-subheader class="md-no-sticky">Recent Discussions</md-subheader>
                <md-card>
                    <md-list>
                        <md-list-item layout="column" layout-align="center center" layout-fill layout-padding layout-margin ng-if="!gotRecentPosts">
                            <md-progress-circular class="md-accent"></md-progress-circular>
                        </md-list-item>
                        <md-list-item ng-repeat="recentPost in recentPosts" ng-click="$location.path(recentPost.category.path + '/' + recentPost._id)">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <span class="wrap-title">{{recentPost.title | limitTo: 22}}</span>
                                <div class="md-secondary" layout="row">
                                    <md-icon class="icon-left-of-text" md-colors="{color: 'blue-500'}">comment</md-icon>
                                    <span class="md-subhead">
                                        <span ng-show="recentPost.comments[0]">{{recentPost.comments.length}}</span>
                                        <span ng-hide="recentPost.comments[0]">0</span>
                                    </span>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
            </div>
        </div>
    </div>
    <div flex></div>
</div>

<!-- Edit Post Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="editPost">
        <md-dialog aria-label="Edit {{post.title}}" flex-gt-sm="50" flex>
            <md-toolbar class="md-toolbar-tools">
                <span class="truncate">Edit {{post.title}}</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form>
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="post.title" md-auto-focus md-maxlength="50">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Content</label>
                        <textarea ng-model="post.content" md-maxlength="10000"></textarea>
                    </md-input-container>
                </form>
                <formatting-help ng-show="showFormattingHelp"></formatting-help>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="toggleFormattingHelp()">Formatting
                    <md-icon ng-hide="showFormattingHelp">arrow_drop_down</md-icon>
                    <md-icon ng-show="showFormattingHelp">arrow_drop_up</md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="updatePost()" ng-disabled="!post.title || !post.content">Update</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete Post Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deletePost">
        <md-dialog aria-label="Delete {{post.title}}">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete {{post.title}} forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deletePost()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Delete Comment Dialog Confirm -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteComment">
        <md-dialog aria-label="Delete Comment">
            <md-dialog-content class="md-dialog-content">
                <p class="md-headline">Delete this comment forever?</p>
                <p class="md-subhead">You won't be able to undo this!</p>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="deleteComment()">Delete</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

<!-- Move Post Dialog -->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="movePost">
        <md-dialog aria-label="Move {{post.title}}">
            <md-toolbar class="md-toolbar-tools">
                <span class="truncate">Move {{post.title}}</span>
            </md-toolbar>
            <md-dialog-content class="md-dialog-content">
                <form>
                    <md-input-container>
                        <label>Category</label>
                        <md-select ng-model="movingPost.category" md-auto-focus>
                            <md-option ng-if="category._id !== post.category._id" ng-repeat="category in categories" ng-value="category">
                                {{category.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </form>
            </md-dialog-content>
            <md-dialog-actions>
                <div flex></div>
                <md-button class="md-primary" ng-click="closeDialog()">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-click="movePost()" ng-disabled="!movingPost.category">Move</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>